Requerimientos:
* Virtual Box
* Imagenes ISO windows / linux / pfsense

*****Instalación Virtual Box sobre Linux
sudo nano /etc/apt/sources.list.d/oracle-virtualbox.list
deb https://download.virtualbox.org/virtualbox/debian buster contrib
wget -q https://www.virtualbox.org/download/oracle_vbox_2016.asc -O- | sudo apt-key add -
sudo apt update
sudo apt install virtualbox-6.0

****Configuracion Inicial sobre virtualización de PFSense
Requerimientos minimos
1 GB RAM
10 GB Disco Duro ** si es virtual recomandado dejarlo como utilización de espacio dinamico
Dos interfaces de Red, 1ra. como NAT que servirá para la WAN y la otra como red interna haciendo referencia a nuestra tarjeta de red integrada.
